.uml-object{
  border: 1px solid black;
}

.uml-object tr {
  border: 1px solid black;
}

.uml-object td {
  padding: 5px 10px;
}

.uml-object tr:first-child td {
  text-align: center;
  font-weight: bold;
}

div.static {
  text-decoration: underline;
}

div.abstract {
  font-style: italic;
}